<h1 align="center">Welcome to Bank Simple, <%= current_user.username %></h1>

<div class="row">
	<div class="col-xs-8 col-xs-offset-2">
		<div class="well well-lg">
			<div class="article-body">
				<h1 align="center">Your current saldo is :</h1>
				<h1 align="center">Rp <%= current_user.balance %>,00</h1>
				<div class="article-meta-details">
				</div>
			</div>
		</div>
	</div>
</div>